resources:
  - name: my-build
    action: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create
    metadata:
      runtimePolicy:
      - CREATE
    properties:
      steps:
      - name: gcr.io/cloud-builders/gsutil
        args: ['cp', 'gs://gke-spinnaker-codelab/services.tgz', '/home/raghunandanr/dep-manager/deployment-manager/dep-manager/gsutils']
      timeout: 120s

